.quadro {
    text-align: center ;
   
    height: 450px;
    width: 300px;
    border: 2px solid black;
    border-radius: 15px;
    margin: 50px auto;
  
}

.letra {
    text-align: left;
    font-size: 40px;
    margin: 15px 0 0 15px;
    display: inline-block;
    position: relative;
    right: 130px;
    color: red;


}

.quadro-menor { 

    height: 330px;
    width: 200px;
    margin: auto;
    border: 1px solid black;
    background-color: wheat;
    position: relative;
    bottom: 45px;

}
.simbolo {
    position: relative;
    bottom: 75px;
    font-size: 190px;
    color: red;
    
}

.letra-inversa {
    text-align: left;
    font-size: 40px;
    margin: 0 0 0 0;
    display: block;
    transform: rotatez(180deg);
    position: relative;
    bottom: 90px;
    right: 10px;
    color: red;
    
}